/* Tuesday April 8, 2025    9:55 a.m.   Christopher Jacobo */

/* Styles for the Yamato 2199 Fan Page */

html {
    color: #000;
    background-color: #848482;
    text-align: center;
}

body{
    text-align: center;
}


h1 {
    background-color: #F9A620;
}

p {
    color: #000
}
